.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinForm {
    height: 50%;
    text-align: center;
}

.joinForm button {
    width: 100%;
}

.form-control {
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.messages {
    overflow-y: scroll;
    width: 97%;
    height: 85%;
    position: fixed;
    bottom: 80px;
    text-align: left;
    font-size: 18px;
}

.message {
    margin-top: 20px;
}

#sender {
    color: brown;
}

#me, #sender {
    font-size: 15px;
    font-weight: 700;
}

#me {
    color: green;
}

.chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat input {
    width: 96%;
    height: 40px;
    position: fixed;
    bottom: 20px;
    border-width: 3px;
}